#search{
    z-index: 501;
    position: fixed;
    right: 11%;
    top: 1.5vh;
    input{
        width: 150px;
        height: 3vh;
        border: none;
        border-radius: 2px;
    }
}

@media screen and (max-width: 900px) {
    #search{
        top: 7vh;
        right: 5%;
        input{
            width: 100px;
        }
    }
}