#beerCart{
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    .container{
        width: 60%;
        .content_product{
            background: rgba(82, 77, 0, 0.795);
            display: flex;
            justify-content: space-around;
            align-self: center;
            align-items: center;
            height: 150px;
            border-radius: 10px;
            margin: 50px;
            padding: 10px;
            a{
                width: 100px;
            }
            a img{
                height: 150px;
            }
            .content_product_info{
                text-decoration: none;
                color:white;
                width: 50%;
                display: flex;
                font-weight: bold;
                div:first-child{
                    padding: 10px;
                    border-right: solid 2px;
                    border-left: solid 2px;
                    width: 200px;                }
                div:last-child{
                    padding: 10px;
                    border-right: solid 2px;
                    text-align: center;
                    width: 100px;
                }
            }
            .button{
                width: 100px;
                display: flex;
                justify-content: center;
                div>button{
                    background: rgb(255, 253, 253);
                    height: 30px;
                    width: 30px;
                    margin: 5px;
                    border: none;
                    border-radius: 30px;
                    cursor: pointer;
                    font-size: 30px;
                }
            }
        }
    }
    .content_no_cart{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        .no_cart{
            background: rgba(0, 0, 0, 0.486);
            height: 60vh;
            width: 80vw;
            display: flex;
            justify-content: center;
            align-self: center;
            align-items: center;
            border-radius: 40px;
            color: white;
        }
    }
    
}



@media screen and (max-width: 900px) {
    #beerCart{
        height: 94vh;
        width: 100%;
        .container{
            width: 90%;
            .content_product{
                margin: 20px 0px 0px 0px;
                .content_product_info{
                    color: rgb(255, 255, 255);
                    font-size: 12px;
                    p{
                        width: 60px;
                        white-space: nowrap;
                        overflow-x: hidden;
                        text-overflow: ellipsis;
                    }
                }
                .button{
                    margin: 0px;
                    div>button{
                        height: 20px;
                        width: 20px;
                        font-size: 20px;
                    }
                }
            }
        }
        .content_no_cart{
            width: 100vw;
            height: 90vh;
            .no_cart{
                height: 30vh;
            }
        }
        
    }
}

